body {
    margin:0;
    font: normal 16px Arial, Helvetica, sand-serif;
    color: rgb(73, 73, 73);
    background-color: black;
}

#particles-js {
    background: black;
    height: 550px;
}

#login {
    background: #fff;
    opacity: 0.9;
    padding: 2em;
    border: #ccc 2px solid;
    position: absolute;
    top: 160px;
    left: 40px;
}

#login input[type="text"], #login input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px grey solid;
}

.section{
    background: white;
    padding: 20px 0;
    height: 170px;
}
.section-b {
    background: rgb(125, 125, 125);
    color: white;
    height: 200px;
}